<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Арифметические операции над битовыми данными</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<div class="container">
		<h1>Арифметические операции над битовыми данными</h1>
		<form action="problemset" method="GET">
			<label for="name">Введите имя пользователя</label>
			<input type="text" name="name"><br>

			<label for="tries">Введите количество попыток</label>
			<input type="number" name="tries" min="1" max="3"><br>
			<button type="submit"> Далее </button>
		</form>
	</div>
</body>
</html>